 # Data Engineer module continued
 In this notebook I focus on creating a dedicated database with a table structure.
 I initialize the database in notebook, not directly on PostgreSQL.
 I created a file with the database structure in a folder `sql/database_schema.sql`
 
 > For this task, you must have `Postgres` installed on your computer

Importing the required libraries

In [1]:
!pip install psycopg2-binary
import psycopg2
from psycopg2 import connect

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\users\jedrek-dell\appdata\roaming\python\python39\site-packages (2.9.5)

In [2]:
!pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\jedrek-dell\appdata\roaming\python\python39\site-packages (1.1.0)

 ## Connection to the database

In [6]:
username = 'postgres'
password = 'password' # your postgres password
host = 'localhost'
database = 'Airlines_project'
port = 5432

Variable definition `con` and `cursor`

In [7]:
new_database_name = database
con = psycopg2.connect(
            user=username,
            password=password,
            host=host 
        )
cursor = con.cursor()
con.autocommit = True
cursor.execute(f"CREATE DATABASE {new_database_name};")
print(f"'{new_database_name}' Database has been successfully created")
con.autocommit = False
# cursor.close()

'Airlines_project' Database has been successfully created

Loading a file `database_schema.sql`

In [5]:
file_path = r'../sql/database_schema.sql'

Splitting the contents of a file `database_schema.sql` into smaller queries using `;`

In [6]:
with open(file_path, 'r') as file:
    data = file.read()
data
queries = data.split(';')

queries = [query.strip() for query in queries if query.strip() != '']

for query in queries:
    print(query)

DROP TABLE IF EXISTS public.aircraft CASCADE
CREATE TABLE IF NOT EXISTS public.aircraft
(
    id serial,
    manufacture_year bigint,
    tail_num text,
    number_of_seats double precision
)
CREATE OR REPLACE VIEW public.v_aircraft_blocker AS
SELECT 1 FROM public.aircraft LIMIT 1
DROP TABLE IF EXISTS public.airport_weather CASCADE
CREATE TABLE IF NOT EXISTS public.airport_weather
(
    id serial,
    station text,
    name text,
    date text,
    awnd double precision,
    pgtm double precision,
    prcp double precision,
    snow double precision,
    snwd double precision,
    tavg double precision,
    tmax double precision,
    tmin double precision,
    wdf2 double precision,
    wdf5 double precision,
    wsf2 double precision,
    wsf5 double precision,
    wt01 double precision,
    wt02 double precision,
    wt03 double precision,
    wt04 double precision,
    wt05 double precision,
    wt06 double precision,
    wt07 double precision,
    wt08 double precision,
    wt09 double precision,
    wesd double precision,
    wt10 double precision,
    psun double precision,
    tsun double precision,
    sn32 double precision,
    sx32 double precision,
    tobs double precision,
    wt11 double precision,
    wt18 double precision
)
/* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/
CREATE OR REPLACE VIEW public.v_aircraft_weather_blocker AS
SELECT 1 FROM public.airport_weather LIMIT 1
DROP TABLE IF EXISTS public.flight CASCADE
CREATE TABLE IF NOT EXISTS public.flight
(
    id serial,
    month bigint,
    day_of_month bigint,
    day_of_week bigint,
    op_unique_carrier text,
    tail_num text,
    op_carrier_fl_num bigint,
    origin_airport_id bigint,
    dest_airport_id bigint,
    crs_dep_time bigint,
    dep_time double precision,
    dep_delay_new double precision,
    dep_time_blk text,
    crs_arr_time bigint,
    arr_time double precision,
    arr_delay_new double precision,
    arr_time_blk text,
    cancelled double precision,
    crs_elapsed_time double precision,
    actual_elapsed_time double precision,
    distance double precision,
    distance_group bigint,
    carrier_delay double precision,
    weather_delay double precision,
    nas_delay double precision,
    security_delay double precision,
    late_aircraft_delay double precision,
    year bigint
)
/* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/
CREATE OR REPLACE VIEW public.v_flight_blocker AS
SELECT 1 FROM public.flight LIMIT 1
DROP TABLE IF EXISTS public.airport_list CASCADE
CREATE TABLE IF NOT EXISTS public.airport_list
(
    id serial,
    origin_airport_id bigint,
    display_airport_name text ,
    origin_city_name text ,
    name text
)
CREATE OR REPLACE VIEW public.v_airport_list_blocker AS
SELECT 1 FROM public.airport_list LIMIT 1

Executing each query to initialize the database structure

In [7]:
for query in queries:
    try:
        cursor.execute(query)
    except Exception as e:
        print(f"An error occurred: {e}")

Confirmation of all database operations, tables creation

In [8]:
for query in queries:
    try:
        cursor.execute(query)
        con.commit()  
    except Exception as e:
        print(f"An error occurred: {e}")
        con.rollback()

In [ ]:
con.close()

 ## Sum up
 Using this notebook, database was built automatically.
Thanks to this, we no longer have to worry about rebuilding it manually - if necessary, just turn on the notebook.
By creating next notebook, I will ensure that the tables include data needed for subsequent analysis and reporting.